global
    log stdout format raw local0
    maxconn 4096
    tune.bufsize 32768
    tune.http.maxhdr 1024



frontend nodeport-frontend
  bind *:80
  mode tcp
  option tcplog
  timeout client 10s
  default_backend nodeport-backend

backend nodeport-backend
  mode tcp
  timeout connect 10s
  timeout server 10s
  balance roundrobin

{% for worker in k8s_workers %}
  server worker-node-{{ loop.index }} {{worker}}:30803 check
{% endfor %}



frontend nodeport-frontend-https
  bind *:443
  mode tcp
  option tcplog
  timeout client 10s
  default_backend nodeport-backend-https

backend nodeport-backend-https
  mode tcp
  timeout connect 10s
  timeout server 10s
  balance roundrobin

{% for worker in k8s_workers %}
  server worker-node-{{ loop.index }} {{worker}}:30801 check
{% endfor %}